<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rankings</title>
</head>
<body style="background-color: bisque">

<a href="{% url 'index' %}">Home</a>
        <br>
        <a href="{% url 'Query_results' %}">Query Results</a>
        <br>
        <a href="{% url 'Records_management' %}">Records Management</a>
        <br>
        <a href="{% url 'Rankings' %}">Rankings</a>
        <br>
<h1>
    Rankings
</h1>

<form method="post">
    {% csrf_token %}
    hID:<input type="number" name="hID_selected" required> <br>
    title:<input type="text" name="title_selected" required> <br>
    ranking:<select name="rank_selected" size="1">
                <option> 1 </option>
                <option> 2 </option>
                <option> 3 </option>
                <option> 4 </option>
                <option> 5 </option>
            </select> <br>
    <input type="submit">
</form>

<br>

<form method="post">
    {% csrf_token %}
    genres:<select name="genres_selected" size="1">
                {% for content in genres %}
                        <option> {{ content.genre }} </option>
                {% endfor %}
            </select> <br>
    min_rank = <input type="number" name="min_rank" required> <br>
    <input type="submit">
</form>


<table border="1" style="width: 70%">

        <th>Spoken Title</th>
        {% for content in minimum_rank %}
            <tr>
                <td>{{ minimum_rank }}</td>
            </tr>
        {% endfor %}

</table>




</body>
</html>