<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rankings</title>
</head>
<body style="background-color: bisque">

<a href="{% url 'index' %}">Home</a>
        <br>
        <a href="{% url 'Query_results' %}">Query Results</a>
        <br>
        <a href="{% url 'Records_management' %}">Records Management</a>
        <br>
        <a href="{% url 'Rankings' %}">Rankings</a>
        <br>
<h1>
    Rankings
</h1>

<form method="post">
    {% csrf_token %}
    hID:<input type="number" name="hID_selected" required> <br>
    title:<input type="text" name="title_selected" required> <br>
    ranking:<select name="rank_selected" size="1">
                <option> 1 </option>
                <option> 2 </option>
                <option> 3 </option>
                <option> 4 </option>
                <option> 5 </option>
            </select> <br>
    <input type="submit">
</form>

<br>

<form method="post">
    {% csrf_token %}
    genre:<select name="genre_selected" size="1">
                {% for content in genre %}
                        <option> {{ content.genre }} </option>
                {% endfor %}
            </select> <br>
    min_rank: <input type="number" name="min_rank" required> <br>
    <input type="submit">
</form>


{% if not flag %}
    <table border="1" style="width: 70%">

            <th>title</th>
            <th>average rank</th>

            {% for content in spoken_shows %}
                <tr>
                    <td>{{ content.title}}</td>
                    <td>{{ content.Average }}</td>
                </tr>
            {% endfor %}
    </table>
{% endif %}



</body>
</html>