<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Records Management</title>
</head>
<body style="background-color: bisque">
<h1>
   Records Management
</h1>

<a href="{% url 'index' %}">Home</a>
        <br>
        <a href="{% url 'Query_results' %}">Query Results</a>
        <br>
        <a href="{% url 'Records_management' %}">Records Management</a>
        <br>
        <a href="{% url 'Rankings' %}">Rankings</a>
        <br>
        <br>

<h2>
    Order
</h2>

<form method="post">
    {% csrf_token %}
    hID:<input type="number" name="hID_order" required> <br>
    title:<input type="text" name="title_order" required> <br>
    <input type="submit">
</form>

<!--<p>-->
<!--    {% for content in hIDOrder %}-->
<!--        {{ content.hID }}-->
<!--    {% endfor %}-->
<!--</p>-->

<p>
    {% for content in titleOrder %}
        {{ content.title }}
    {% endfor %}
</p>



<h2>
    Return
</h2>

<form method="post">
    {% csrf_token %}
    hID:<input type="number" name="hID_return"> <br>
    title:<input type="text" name="title_return"> <br>
    <input type="submit">
</form>

<br>
<table border="1" style="width: 70%">

        <th>hID</th>
        <th>total orders</th>

</table>

</body>
</html>